S3method(as.data.frame,epmx)
S3method(as.roc,ep)
S3method(as.roc,ep.list)
S3method(as.roc,parental)
S3method(as.roc,parental.list)
S3method(auroc,ep)
S3method(auroc,ep.list)
S3method(bayes,bn)
S3method(bf,bnpostmcmc)
S3method(burnin,sampler)
S3method(cumep,bnpostmcmc.list)
S3method(cumep,list)
S3method(cumep,samplers)
S3method(cummean,matrix)
S3method(dotplot,ep)
S3method(dotplot,ep.list)
S3method(dotplot,gp)
S3method(dotplot,gp.list)
S3method(eht,bnpost)
S3method(entropy,bnpost)
S3method(ep,bnpost)
S3method(ep,bnpostmcmc)
S3method(ep,bnpostmcmc.list)
S3method(ep,parental.contingency)
S3method(ep,parental.list)
S3method(ep,sampler)
S3method(ep,table)
S3method(epmx,bnpostmcmc)
S3method(epmx,bnpostmcmc.list)
S3method(epmx,sampler)
S3method(epmx,samplers)
S3method(gelman,samplers)
S3method(gp,bnpost)
S3method(gp,bnpostmcmc)
S3method(gp,bnpostmcmc.list)
S3method(gp,sampler)
S3method(is.valid,hyp)
S3method(is.valid,prior)
S3method(length,bnpostmcmc)
S3method(length,sampler)
S3method(levelplot,bnpostmcmc)
S3method(levelplot,ep)
S3method(levelplot,ep.list)
S3method(logScoreMultDir,bn)
S3method(logScoreMultDir,bn.list)
S3method(logScoreMultDir,bnpostmcmc)
S3method(logScoreNormal,bn)
S3method(logScoreNormal,bn.list)
S3method(map,bnpost)
S3method(map,bnpostmcmc)
S3method(map,sampler)
S3method(ml,bn)
S3method(mwep,bnpostmcmc.list)
S3method(mwep,list)
S3method(mwep,samplers)
S3method(mwmean,matrix)
S3method(plot,bnpostmcmc)
S3method(print,sampler)
S3method(splom,bnpostmcmc.list)
S3method(splom,epmx)
S3method(splom,list)
S3method(summary,gp)
S3method(summary,sampler)
S3method(top,bnpost)
S3method(top,bnpostmcmc)
S3method(top,sampler)
S3method(tp,bnpost)
S3method(xyplot,cumtvd)
S3method(xyplot,cumtvd.list)
S3method(xyplot,epmx)
S3method(xyplot,gp)
S3method(xyplot,gp.list)
export(BNGibbsSampler)
export(BNOrderSampler)
export(BNSampler)
export(BNSamplerBigFlips)
export(BNSamplerGrzeg)
export(BNSamplerMJ)
export(BNSamplerPT)
export(allBannedExceptPPNotBannedIfNotRequired)
export(allDescendants)
export(allNonDescendants)
export(as.grain)
export(as.roc)
export(auroc)
export(bayes)
export(bf)
export(bnpost)
export(bnpostmcmc)
export(bnpostmcmc.list)
export(burnin)
export(checkForNonDuplicated)
export(conductance)
export(convertEPMatrixToColumns)
export(cumep)
export(cummean)
export(cumtvd)
export(cumtvd.list)
export(dagGivenOrder)
export(defaultBanned)
export(draw)
export(drawPT)
export(drawSamplesByStepCount)
export(drawSamplesByTime)
export(eachChangesChoicesForRequired)
export(edgeIsFlippable)
export(eht)
export(enforceForbiddenConstraint)
export(entropy)
export(enumerateParentsTable)
export(enumerateParentsTableNode)
export(ep)
export(ep.list)
export(epmx)
export(eval.prior)
export(exactposterior)
export(fastid)
export(fdfAsInt)
export(gelman)
export(getAllConsistentWithDAG)
export(getBannedFromConstraint)
export(getNewGraph)
export(getNijkCounts)
export(getPossibleParents)
export(getRequiredFromConstraint)
export(getRowsThatContain)
export(gp)
export(gp.list)
export(graphProbGivenOrder)
export(hp)
export(intAsFDF)
export(intersection)
export(is.valid.localPriors)
export(isConsistentWithOrder)
export(kronecker_delta)
export(localLogScoreMultDir)
export(localLogScoreNormal)
export(localPartitionFunction)
export(logNumMHNeighbours)
export(logOrderLikelihood)
export(logScoreMultDir)
export(logScoreMultDirFUN)
export(logScoreMultDirIncremental)
export(logScoreMultDirOffline)
export(logScoreMultDirPrepare)
export(logScoreNormal)
export(logScoreNormalFUN)
export(logScoreNormalIncremental)
export(logScoreNormalOffline)
export(logScoreNormalPrepare)
export(logsumexp)
export(map)
export(marginalGivenIntervention)
export(marginalGivenOthers)
export(mcmcposterior)
export(ml)
export(mukherjeeBioinformaticsPrior)
export(mwep)
export(mwmean)
export(new_queue)
export(new_stack)
export(nonDescendants)
export(numberDAGsGivenOrder)
export(nunique)
export(options.grid)
export(orderFlipOperator)
export(parentalFromEPThreshold)
export(parentalToCPDAG)
export(plotTape)
export(posterior)
export(predict.bn)
export(predictModelAverageNode)
export(predictNode)
export(priorGraph)
export(priorUniform)
export(queryFinding)
export(removeDuplicates)
export(requireSomethingFromEachParent)
export(residsNormal)
export(residsNormalNode)
export(residualsMultDir)
export(residualsMultDirNode)
export(rocplot)
export(routesAddEdges)
export(routesRemoveEdges)
export(sampleNode)
export(samplePair)
export(samplePair2)
export(sampleQuadruple)
export(sampleQuintuple)
export(sampleTriple)
export(samplers)
export(satisfiesConstraint)
export(scoreBIC)
export(scoreParents)
export(scoreParentsTable)
export(scoreParentsTableNode)
export(setupConstraint)
export(square_error)
export(statistics)
export(statistics.sampler)
export(top)
export(topScoringGraph)
export(tp)
export(transposeEdgeIsAddable)
export(transposeEdgeIsRemovable)
export(transposeEdgeIsTogglable)
export(whichGraphsNotNeighbours)
export(whichNum)
export(whichParentSetRows)
import(fastmatch)
import(lattice)
import(parental)
